@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import 'section/header', 'section/gambar', 'section/sambutan', 'section/covid';

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
}